.cardContainer {
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 25%);
  transition: all 0.3s linear;
  border-radius: 5px;
  margin: 5px;
}

.cardImageContainer {
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.cardInfo {
  height: calc(100% - 300px);
}

.cardTitle {
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 18px;
  line-height: 20px;
}
