.navItem:first-child {
  margin-right: 15px;
}

.navItem a {
  padding: 10px 10px 10px 0;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navItem a svg {
  margin-right: 5px;
  font-size: 18px;
}
